<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>Navigation Bar - Easy Tutorials</title>
<link rel="stylesheet" href="navcss.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
     
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
 
</head>
<body >
   {{>navbar}}
<script>
  function MyFunction(){
     var x = document.getElementById("menu"); 
      
      if(x.style.display == "block")
      {
          x.style.display = "none";
      }
      else{
          x.style.display = "block";
      }
  }
</script>

<body>

  <div class="about-section">
    <h1>MINI PROJECT </h1>
    <p>we are studies at PESModern College of engineering ,pune . 
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <!---<img src="" alt="Jane" style="width:100% ">--->
        <div class="container">
          <h2>Tejaswini Rasam</h2>
          <p class="title">Designer</p>
          <p> roll number : 37059<br> </p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <!---<img src="" alt="Jane" style="width:100% ">--->
        <div class="container">
          <h2>Ravichandra Udupa</h2>
          <p class="title">Designer</p>
          <p>roll numebr : 37074</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <!---<img src="" alt="Jane" style="width:100% ">--->
        <div class="container">
          <h2>Prerana Patil</h2>
          <p class="title">Designer</p>
          <p>roll numebr : 37054</p>
          <p><button class="button"><a href="contact.html" style="color: white;">Contacts</a></button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <!---<img src="" alt="Jane" style="width:100% ">--->
        <div class="container">
          <h2>Zaid Shaikh </h2>
          <p class="title">Designer</p>
          <p>roll numebr : 37065</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
<!---slide show-->


<script> /*  CREATER */ </script>


<div class="container-fluid p-3  text-center my-3" style="background-color: black;">

  <br><br><br>
 <div class="icons" >
    <a href="#" style="color: aliceblue;"><i class="fab fa-facebook-f"></i></a>
    <a href="#"style="color: aliceblue;"><i class="fab fa-twitter"></i></a>
    <a href="#" style="color: aliceblue;" ><i class="fab fa-github"></i></a>
    <a href="#"style="color: aliceblue;"><i class="fab fa-youtube"></i></a>
  </div>

</div>
  


</body>


</html>
